<%= render @user %>
<div class= "bio">
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>
<div class= "posts-container">
  <%= render @user.recent_posts %>
  <div class= "buttons-container">
    <div class="btn"><%= link_to "See All", user_posts_path(@user.id) %></div>
    <div class="btn"><%= link_to "New Post", new_user_post_path(@user.id) %></div>
    <% flash.each do |type, msg| %><div><%= msg %></div><% end %>
  </div>
</div>
