<% if current_page? user_post_path(post.author.id, post.id) %>
  <div class="post">
  <div class="title">
    <h4><%= post.title %> by <%= link_to(user_path(post.author.id)) { post.author.name } %></h4> 
    <h5>Comments: <%= post.comments_counter || 0 %> - Likes: <%= post.likes_counter || 0 %></h5>
  </div>
    <p><%= post.text %></p>
  </div>
  <div class= "buttons-container">
    <button type="button"><%= link_to 'Add Comment', new_user_post_comment_path(post.author.id, post.id) %></button>
    <%= button_to 'Like', user_post_likes_path(current_user.id, post.id)  %>
  </div>
  <% if post.comments_counter > 0 %>
    <div class="comments">
      <%= render @post.comments %>
    </div>
  <% end %>
<% else %>
    <div class= "post">
        <h4><%= link_to(user_post_path(post.author.id, post.id)) { post.title } %> - Id: <%= post.id %></h4>
        <p><%= post.text[0..150] %>...</p>
        <div class= "buttons-container">
          <button type="button"><%= link_to 'Add Comment', new_user_post_comment_path(post.author.id, post.id) %></button>
          <%= button_to 'Like', user_post_likes_path(current_user.id, post.id)  %>
        </div>
        <h5>Comments: <%= post.comments_counter || 0 %> - Likes: <%= post.likes_counter || 0 %></h5>
    </div>
    
   <% if post.comments_counter > 0 %>
        <div class="comments">
            <% post.recent_comments.each do |comment| %>
              <p>Username: <%= comment.author.name %> - Comment: <%= comment.text %></p>
            <% end %>
        </div>
    <% end %>
<% end %>